{% extends "main.html" %}
{% block content %}
<div class="container">
    <h1 class="p-4 text-center">Speisekarte</h1>
    <ol class="list-group list-group-numbered">
        {% for kategorie in kategorien %}
            <h3 class="p-4 bg-dark text-white"> {{kategorie.name}} </h3>
            {% for gericht in gerichte%} {% if gericht.kategorie == kategorie %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold">{{ gericht.name}}</div>
                {{ gericht.description }}
                </div>
                <span class="badge bg-dark rounded-pill">{{gericht.preis}}€</span>
            </li>
            {% endif %} {% endfor %}
            <hr>
        {% endfor %}
    </ol>
</div>
{% endblock content %}